<p>
  <strong>Title:</strong>
  <%= @disaster.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @disaster.photo_url %>
</p>
<p>
  <strong>Description:</strong>
  <%= @disaster.description %>
</p>
<p>
  <strong>Preparation:</strong>
  <%= @disaster.preparation %>
</p>
<%= link_to 'Back', disasters_path %>
